@{
	ViewData["Message"] = "Salles Web MVC App from C# Course";
	ViewData["Information"] = "Developer Web";
}
<h1>@ViewData["Message"]</h1>

<p>@ViewData["Information"]</p>

<address>
	<strong>More information: </strong> <a href="https://www.linkedin.com/in/jefferson-veiga-4927aa163/">Jefferson Veiga</a>
</address>